<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mongoConnection" value="mongodb://dddpizzainc:dddpizzainc@ds033607.mlab.com:33607/dddpizzainc" />
    <add key="mongoDb" value="dddpizzainc" />
    <add key="username" value="dddpizzainc" />
    <add key="password" value="dddpizzainc" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
